<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GananciaxInteres.Properties.Settings.SistemaPrestamosConnectionString"
            connectionString="Data Source=VMIZU\FABIAN;Initial Catalog=SistemaPrestamos;Persist Security Info=True;User ID=sa;Password=123456;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>